<div class="container sync-dengue">
  <h3>Dengue Alerts</h3>

  <div class="sync-container">
    <button class="btn btn-primary" (click)="sync()" [disabled]="loading">
      {{
        loading ? "Carregando últimos 6 meses..." : "Mostrar últimos 6 meses"
      }}
    </button>

    <div *ngIf="message" class="alert alert-success">
      {{ message }} ({{ count }})
    </div>
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

    <hr />

    <table *ngIf="alerts.length" class="table table-striped mt-3">
      <thead>
        <tr>
          <th>Semana epidemiológica (SE)</th>
          <th>Casos estimados</th>
          <th>Min</th>
          <th>Max</th>
          <th>Casos notificados</th>
          <th>Nível de alerta</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of alerts">
          <td>{{ a.SE }}</td>
          <td>{{ a.casos_est }}</td>
          <td>{{ a.casos_est_min }}</td>
          <td>{{ a.casos_est_max }}</td>
          <td>{{ a.casos }}</td>
          <td>
            <span class="alert-level level-{{ a.nivel }}">
              <span class="icon"></span> {{ a.nivel }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="!alerts.length && !loading" class="text-muted">
      Nenhum dado encontrado.
    </div>
  </div>
</div>
